@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.active {
  background: #F2E8F2;
}

.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.button:hover {
  background: #F2E8F2;
}

* {
  /* overflow-x: hidden; */

}

body {
  /* background: #000; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden !important;
  color: white;
}


.heroSectionH1 {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 700 !important;

}

.brefContainer {
  font-family: "Oswald", sans-serif;
  width: 100vw !important;
  font-weight: 200;
  font-style: normal;
}

.sideCards{
  /* transform: scale(0.7); */
}

.sideLogoSection {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.white-box {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}



@media only screen and (min-width: 600px) {

  .container {
    width: 100vw !important;
    padding: 10px;
  }
}

/* @media only screen and (max-width: 450px) {
  .roadmapSectionBox {
    margin-left: 57px !important;
  }
}

@media only screen and (max-width: 375px) {
  .roadmapSectionBox {
    margin-left: 75px !important;
  }
}
  */

@media only screen and (max-width: 450px) {
  .roadmapSectionBox {
    margin-left: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100vw !important;
    /* padding: 30px; */
  }

  .editor {
    display: none !important;
  }
}

.editor {
  /* background-image: url('/'); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* position: absolute; */
}

.container-wrapper {
  box-shadow: inset 0 0px 10px 0px #FFFFFF;


}

.navbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 999999999999;
  /* background-color: #000; */
}



.showVideo:hover .hiddenVideo {
  display: block;
}

.hiddenVideo {
  display: none;
}

.word-strip-container {
  overflow: hidden;
  white-space: nowrap;
  font-size: 2em;
  height: 2em;
  display: flex;
  align-items: center;
}

.word-strip {
  display: flex;
  align-items: center;
}

.word {
  display: inline-block;
  margin-right: 1em;
}

@keyframes shine {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

/* .activeImage {
  border: 2px solid transparent;
  border-radius: 10px;
  animation: shine 2s infinite;
} */

.videoRoadmap {
  /* width: 450px !important; */
  height: 100% !important;
  /* aspect-ratio: 15/21; */
  /* margin-left: 30px; */
}

.hoverButton {
  box-shadow: inset 0 0px 10px 0px #FFFFFF;
  padding: 10px 20px;
  font-size: 18px;
  transition: 0.4s;
  /* border-radius: 10px; */
}

.hoverButton:hover {
  box-shadow: inset 0 0px 20px 0px #FFFFFF;
}

body {
  overflow-x: hidden;
  width: 100%;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.slide-0 {
  animation: slideInFromBottom 0.4s ease-out forwards;
}

.slide-1 {

  animation: slideInFromTop 0.4s ease-out forwards;
  animation-delay: 0.1s;
}


.bglinks {
  background-color: rgba(255, 255, 255, 0.3) !important
}

.bglinks .links {
  transition: 0.2s;
}

.bglinks .links:hover {
  transform: scale(1.1);
  color: #9ca3af;
}

.linkSection li {
  cursor: pointer;
}