.mainHeadingSidebar {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: -0.27px;
    text-align: left;
}
.showsidebar {
    display: none;
}

.sidebar {
    width: 23vw;
    height: 1020px;
    padding: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    opacity: 1;
    padding: 10px 20px;
    /* position: fixed; */
    top: 0;
    left: -25vw;
    transition: left 0.3s ease-in-out;
}

.show {
    left: 0;
    animation: slideIn 0.3s forwards;
}
.hide {
    left: -25vw;
    animation: slideOut 0.3s forwards;
}
@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -25vw;
    }
}

.upperSectionSide {
    width: 100%;
    height: 302px;
    gap: 16px;
    opacity: 1;
}

.innerSection {
    height: 184px;
    gap: 8px;
    opacity: 1;
}

.elementInUpper {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    gap: 12px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}

.elementInUpper:hover {
    background-color: #F2E8F2;
}

.downSection {
    width: 100%;
}

.createButton {
    background-color: #9612A3;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
}

.createButton:hover {
    background-color: #b116c7;
}
@keyframes slideIn {
    from {
        left: -25vw;
    }
    to {
        left: 0;
    }
}

.showsidebar {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}



@media only screen and (max-width: 768px) {
    .showsidebar {
        display: block !important;
    }
    .sidebar {
        /* display: none; */
        width: 300px;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        background: #fff;
    }
    .show{
        display: flex;
    }
    .hide {
        display: none;
    }
    .upperSectionSide {
        width: 250px !important;
    }
    .elementInUpper {
        width: 250px;
    }
}


